.header-main-container {
    position: fixed;
    top: 8px;
    display: grid;
    grid-template-columns: 40px 40px 150px auto 150px 40px;
}

.header-view-nav-btn-container {
    display: grid;
    color: #b3b3b3;
    text-indent: 10px;
    max-height: 42px;
}

.header-bk-btn {
    grid-column: 1;
    margin: auto;
}

.header-fwd-btn {
    grid-column: 3;
    margin: auto;
}

.header-search-bar {
    grid-column: 3;
    background-color: white;
    color: black;
    min-width: 100%;
    margin: auto 0;
    border: 0px none;
    font-size: 14px;
    border-radius: 20px;
    height: 18px;
    text-indent: 20px;
}

input:focus, 
textarea:focus {
    outline: none;
}

input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    /*styles here*/
    color: #313131;
}

.header-spacer {
    width: calc(100vw - 620px);
}

.header-usr-wrapper {
    grid-column: 5;
    top: 8px;
}

.header-usr-container {
    display: grid;
    grid-template-columns: 10px auto;
    width: 100%;
}

.header-usr-avatar {
    grid-column: 1;
}

.header-usr-display-txt {
    grid-column: 2;
    text-align: right;
    margin-top: 2px;
    padding-right: 10px;
    font-size: 9pt;
    color: white;
}

.header-usr-display-txt:hover {
    text-decoration: underline;
}

.header-dropdown {
    top: 8px;    
    grid-column: 6;
    color: #b3b3b3;
    float: right;
}