
.player-wrapper {
    display: grid;
    grid-template-columns: 250px calc(100vw - 500px) 250px;
    border-top: .1px solid #2f2f2f;
}

.player-album-info-container {
    grid-column-start: 1;
    grid-column-end: 1;
    height: 100%;
}

.player-album-info-picture {
    position: relative;
    top: 10px;
    bottom: 10px;
    left: 15px;
    height: 50px;
    width: 50px;
    background-color: white;
}

.player-album-info-text {
    grid-column-start: 1;
    grid-column-end: 1;
}

.player-song-name {
    position: relative;
    top: -30px;
    color: #b3b3b3;
    width: 100%;
    font-size: 10pt;
    font-weight: 600;
    background-color: transparent;
    border: none;
    text-align: start;
    color: #b3b3b3;
    left: 75px;
}

.player-song-name:hover,
.player-artist-name:hover {
    text-decoration: underline solid white;
    color: white
}

.player-artist-name {
    position: relative;
    top: -30px;
    left: 75px;
    color: #b3b3b3;
    width: 100%;
    font-size: 9pt;
    font-weight: 300;
    background-color: transparent;
    border: none;
    text-align: start;
    color: #b3b3b3;  
}

.player-main-container {
    grid-column-start: 2;
    grid-column-end: 2;
}

/* Player progress bar styles */

.player-progress {
    display: inline-block;
    position: relative;
    display: grid;
    grid-template-columns: 20px auto 20px;
    width: 70%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    bottom: -15px;
}

.player-progress-bar-background {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 2;
    top: 4px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    background-color: #4f4f4f;
    border-radius: 5px;
    bottom: 10px;
}

.player-timer {
    font-size: 8pt;
    color: #b3b3b3
}

.player-timer-left {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: left;
}

.player-timer-right {
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: right;
}

/* Player button icons */

.player-control-buttons {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 2;
    top: 10px;
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #b3b3b3;
}

.player-control-grid {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
}

.player-control-btn {
    margin: auto;
}

.player-control-btn:hover {
    color: white;
}

.player-shuffle {
    grid-column: 1;
}

.player-back {
    grid-column: 2;
}

.player-start {
    grid-column: 3;
}

.player-forward {
    grid-column: 4;
}

.player-repeat {
    grid-column: 5;
}