

.sidebar-container {
    position: relative;
    display: grid;
    width: 100%;
    height: calc(100vh - 90px);
    color: #b3b3b3;;    
    grid-template-rows: 42px 130px auto 60px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
    border-radius: 15px;
}
  
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.main-nav-btn-container {
    position: absolute;
    margin: 0;
    display: block;
    height: 100px;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Top Nav Button Section */

.main-nav-btn {
    display: grid;
    padding: 0;
    grid-template-columns: 5px 45px auto;
    align-items: center;
    width: 100%;
    height: 33px;
    font-size: 11pt;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    margin-top: 4px;
    text-align: start;
}

button:hover {
    color: white;
}

.main-nav-btn:hover {
    color: white;
}

.selected {
    position: relative;
    grid-column: 1;
    width: 5px;
    height: 100%;
    background-color: #1db954;
    z-index: 2;
}

.main-nav-btn-icon {
    text-align: start;
    text-indent: 20px;
    grid-column: 2;
}

.main-nav-btn-text {
    text-align: start;
    text-indent: 10px;
    Padding-bottom: 2px;
    grid-column: 3;
}

/* Main Sidebar Nav Section */

.main-sidebar-nav {
    grid-row-start: 3;
    grid-row-end: 4;
    max-height: 100%;
    font-size: 8pt;
    font-weight: 500;
    text-indent: 25px;
    overflow-y: scroll;
}

.bottom-sidebar {
    height: 60px;
    float: bottom;
    grid-row-start: 4;
    grid-row-end: 4;
    border-top: .1px solid #2f2f2f;
}

.playlist-create-btn {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 11pt;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: #b3b3b3; 
}

.playlist-library-btn {
    display: grid !important;
    margin: 0;
    grid-template-columns: 5px auto;
    width: 100%;
}

.playlist-create-nav-btn-icon {
    text-align: start;
    text-indent: 20px;
    grid-column: 1;
}

.playlist-create-nav-btn-text {
    text-align: start;
    text-indent: 10px;
    Padding-bottom: 2px;
    grid-column: 2;
}

h6 {
    margin: 0;
    font-weight: 400;
    font-size: 8pt;
}

.links-in-list {
    margin: 15px 0;
    padding: 0;
    display: block;
    color: #b3b3b3;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 9pt;
    text-align: start;
    text-indent: 25px;
}

.link-text {
    grid-column: 2;
    text-indent: 20px;
}

.links-in-list:hover {
    color: white;
}

.link-list {
    position: relative;
    grid-column: 2;
    margin-bottom: 30px;
}