.album-playlist__wrapper {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 300px auto;
}

/* ALBUM PLAYLIST HEADER SECTION */

.album-playlist__header--wrapper {
    width: 100%;
    grid-row: 1;
}

.album-playlist__header--grid {
    display: grid;
    grid-template-columns: 300px calc(100% - 400px) 100px;
    grid-template-rows: auto 84px;
}

.album-playlist__header--img {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.album-playlist__header--info-section {
    grid-column: 2;
}

.album-playlist__header--bottom-container {
    grid-column: 2;
}

.album-playlist__header--follower-count {
    grid-column: 3;
}

.album-playlist__main-container {
    grid-row: 2;
}

.album-playlist__header--info-type {
    display: block;
    font-size: 8pt;
    font-weight: 300;
    color: white;
}

.album-playlist__header--title {
    display: block;
    font-size: 42pt;
    font-weight: 600;
}

.album-playlist__header--desc {
    font-size: 8pt;
    color: #b3b3b3;
}

.album-playlist__header--artist-section {
    display: block;
    font-size: 8pt;
    color: #b3b3b3;
}

.album-playlist__header--artist {
    color: white;
}

.album-playlist__header--other-info {
    color: #b3b3b3;
    font-size: 8pt;
    font-weight: 300;
}

.album-playlist__header--btn-grid {
    display: grid;
    grid-template-columns: 120px 42px 42px;
}

.a-p__header--btn-play {
    grid-column: 1;
    width: 100%;
    height: 36px;
    background-color: #1DB954;
    color: white;
    font-size: 9pt;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 30px;
    outline: none; 
    border: none;
    align-content: center;
}

.a-p__header--btn-play:hover {
    width: 101%;
    height: 101%;
    background-color: #1ec95a;
}

button:active {
    outline: none;
}

.a-p__header--btn-favorite {
    padding-left: 5px;
    grid-column: 2;
}

.a-p__header--btn-rest {
    padding: 3px;
    grid-column: 3;
}

/* ALBUM PLAYLIST HEADER SECTION END */

/* ALBUM PLAYLIST TABLE SECTION */