.carousel-container__wrapper {
    width: 100%;
    height: 40%;
    background-color: transparent;
    max-height: 500px;
    margin-top: 20px;
}

.carousel-container__header {
    display: grid;
    grid-template-columns: 100px calc(100% - 180px) 40px 40px;
    border-bottom: 1px solid #333;
}

.carousel-container__header--title {
    color: white;
    grid-column: 1;
    font-weight: 700;
    font-size: 14pt;
    padding-top: 10px;
    padding-left: 5px;
}

.carousel-container__header--spacer {
    grid-column: 2;
}

.carousel-container__header--btn-left {
    color: #d2d2d2;
    padding-top: 10px;
    padding-left: 5px;
    grid-column: 3;
}

.carousel-container__header--btn-right {
    color: #d4d4d4;
    padding-top: 10px;
    padding-left: 5px;
    grid-column: 4;
}