.info-card__wrapper {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.info-card__display-img {
    grid-row: 1;
    border: none;
}

.info-card__display-img:focus {
    outline: 0;
}

.info-card__display-img:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

.info-card__title {
    grid-row: 2;
    color: white;
    font-size: 10pt;
    font-weight: 500;
}

.info-card-artist__description {
    grid-row: 3;
    color: #b3b3b3;
    font-size: 9pt;
    font-weight: 500;
}

.info-card__followers {
    grid-row: 4;
    color: #b3b3b3;
    font-size: 8pt;
    font-weight: 400;
}